{{- if .Page.Site.Params.BookPortableLinks -}}
  {{- template "portable-image" . -}}
{{- else -}}
  <!-- <a data-fancybox="gallery" href="{{ .Destination | safeURL }}">
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title }}title="{{ . }}" {{ end }} />
  </a> -->
{{- end -}}

{{- define "portable-image" -}}
  {{- $isRemote := or (in .Destination "://") (strings.HasPrefix .Destination "//") }}
  {{- if not $isRemote }}
    {{- $path := print .Page.File.Dir .Destination }}
    {{- if strings.HasPrefix .Destination "/" }}
      {{- $path = print "/static" .Destination }}
    {{- end }}
    {{- if not (fileExists $path) }}
      {{- warnf "Image '%s' not found in '%s'" .Destination .Page.File }}
    {{- end }}
  {{- end }}
  <!-- 适配 markdown obsidian 链接方式 -->
  {{- $url := urls.Parse .Destination -}}
  {{- $scheme := $url.Scheme -}}

  <a data-fancybox="gallery" href="
    {{- if eq $scheme "" -}}
      {{- if strings.HasSuffix $url.Path ".md" -}}
        {{- relref .Page .Destination | safeURL -}}
      {{- else -}}
        {{- printf "/%s%s" .Page.File.Dir .Destination | safeURL -}}
      {{- end -}}
    {{- else -}}
      {{- .Destination | safeURL -}}
    {{- end -}}"
    {{- with .Title }} title="{{ . | safeHTML }}"{{- end -}}>
    
    <img src="
      {{- if eq $scheme "" -}}
        {{- if strings.HasSuffix $url.Path " .md" -}}
          {{- relref .Page .Destination | safeURL -}}
        {{- else -}}
          {{- printf "/%s%s" .Page.File.Dir .Destination | safeURL -}}
        {{- end -}}
      {{- else -}}
        {{- .Destination | safeURL -}}
      {{- end -}}"
      {{- with .Title }} title="{{ . | safeHTML }}" {{- end -}}
      {{- with .Text }} alt="{{ . | safeHTML }}"
      {{- end -}} />
  </a>
  
  <!-- <a data-fancybox="gallery" href="{{ .Destination | safeURL }}">
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title }}title="{{ . }}" {{ end }} />
  </a> -->
{{- end -}}
