// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;

$border-radius: $padding-4 !default;

$body-font-weight: normal !default;

$body-min-width: 20rem !default;
$container-max-width: 80rem !default;

$header-height: 3.5rem !default;
$menu-width: 16rem !default;
$toc-width: 16rem !default;

$mobile-breakpoint: $menu-width + $body-min-width * 1.2 + $toc-width !default;

$hint-colors: (
  info: #6bf,
  warning: #fd6,
  danger: #f66,
) !default;

// Themes
:root {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #0366d6;
  --color-visited-link:#0366d6;

  --body-background: #fff;
  --body-font-color: #24292e;

  --icon-filter: none;

  --hint-color-info: #30a9de;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;

  --scrollbar-thumb-color:#e2e5e5;
  --scrollbar-track-color:#fff;

  --menus-before-line-color:#e2e5e5;

  --color-strong: #24292e;
}

:root[theme="dark"] {
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-500: rgba(255, 255, 255, 0.5);

  --color-link:  #58a6ff;
  --color-visited-link: #58a6ff;

  --body-background: #0d1117;
  --body-font-color: #c9d1d9;

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;

  --scrollbar-thumb-color:rgb(50, 56, 59);
  --scrollbar-track-color:#0d1117;

  --menus-before-line-color:rgb(50, 56, 59);

  --color-strong: #fff;
}
